@import "../../../assets/variables.scss";

header{
    z-index: 1000;
    
}

div.container-fluid{
    background-image: linear-gradient(to right, $app-gray-2, $app-gray-1);

    border: 1px solid $app-gray-2;
    // -webkit-box-shadow: 0 5px 20px 10px $app-primary-1;
    // box-shadow: 0 5px 20px 10px $app-primary-1;
}

a.navbar-brand.navbar__logo{
    color: $app-primary-1; 
    font-size: 30px;
}

a.navbar-brand.navbar__logo:hover{
    color: $app-white-1; 
    font-size: 30px;
}

.row-triangle {
    position: absolute;
    top: 97%;
    left: 0;
    width: 100%;
    
}

.bottom-triangle {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 25%, 0 100%);
    height: 20px;
    background-image: linear-gradient(to right, $app-gray-2, $app-gray-1);
    
}

li.nav-item{
    padding: .5vh 1vh;
}


li.nav-item>a.nav-link{
    color: $app-white-1;
}

.navbar__tnav{
    margin: 0px;
    padding: 0px;
    width: 0%;
    height: .3vh;   
}

.nav-item:hover>.navbar__tnav{
    width: 100%;
    height: .3vh;
    background-color:  $app-primary-1;
    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}

.navbar__profile{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background-color: transparent;
    color: $app-white-1;
    border: 0px solid transparent;

    .navbar__dropdown{
        display: none;
        top: 100%;
        
        right: 0%;
        background:  linear-gradient(to bottom,  $app-gray-2, $app-gray-1);
        color: $app-white-1;
        border: 1px $app-gray-2 solid;

        hr{
            margin: 8px 15px;
        }
        
        .dropdown-item-text{
            color: $app-white-1;
        }

        .dropdown-item:hover{
            background: $app-primary-2;
            color: $app-white-1;
        }

        .dropdown-item:visited{
            color: $app-white-1;
        }
    }
    

}

.navbar__profile:hover .navbar__dropdown{
    display: block;
}



.navbar__profile-radius{
   
    width: 5px;
    
    display: inline-block;

    background-color: $app-primary-1;
    color: $app-primary-1;
    
    clip-path: polygon(100% 0, 0 0, 100% 115%);

    padding: 5px 20px;
    margin-right: -5px
}

.navbar__profile-title{
    display: inline-block;
    background-color: $app-primary-1;
    padding: 5px 20px 5px 10px;
}

.navbar__profile-img{
    height: 50px;
    width: 50px;
    margin-left: -10px;
    border: 5px solid $app-primary-1;
    border-radius: 50% !important;
}



