header{
    z-index: 1000;
    margin-bottom: 6vh;
}

div.container-fluid{
    background-image: linear-gradient(to right, #313131, #636363);

    border: 1px solid #313131;
    // -webkit-box-shadow: 0 5px 20px 10px #1cb3c8;
    // box-shadow: 0 5px 20px 10px #1cb3c8;
}

a.navbar-brand.navbar__logo{
    color: #1cb3c8; 
    font-size: 30px;
}

a.navbar-brand.navbar__logo:hover{
    color: white; 
    font-size: 30px;
}

.row-triangle {
    position: absolute;
    top: 97%;
    left: 0;
    width: 100%;
    
}

.bottom-triangle {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 25%, 0 100%);
    height: 20px;
    background-image: linear-gradient(to right, #313131, #636363);
    
}

li.nav-item{
    padding: .5vh 1vh;
}


li.nav-item>a.nav-link{
    color: #fff;
}

.navbar__tnav{
    margin: 0px;
    padding: 0px;
    width: 0%;
    height: .3vh;   
}

.nav-item:hover>.navbar__tnav{
    width: 100%;
    height: .3vh;
    background-color:  #1cb3c8;
    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}

.navbar__profile{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
    border: 0px solid transparent;

    .navbar__dropdown{
        display: none;
        top: 100%;
        
        right: 0%;
        background:  linear-gradient(to bottom,  #313131, #636363);
        color: #fff;
        border: 1px #313131 solid;

        hr{
            margin: 8px 20px;
        }
        
        .dropdown-item-text{
            background: #636363;
            color: #fff;
        }

        .dropdown-item:hover{
            background: #0ba2b7;
            color: #fff
        }
    }
    

}

.navbar__profile:hover .navbar__dropdown{
    display: block;
}



.navbar__profile-radius{
   
    width: 5px;
    
    display: inline-block;

    background-color: #1cb3c8;
    color: #1cb3c8;
    
    clip-path: polygon(100% 0, 0 0, 100% 115%);

    padding: 5px 20px;
    margin-right: -5px
}

.navbar__profile-title{
    display: inline-block;
    background-color: #1cb3c8;
    padding: 5px 20px 5px 10px;
}

.navbar__profile-img{
    height: 50px;
    width: 50px;
    margin-left: -10px;
    border: 5px solid #1cb3c8;
    border-radius: 50% !important;
}



