<header class="sticky-top">

  <div class="container-fluid">


    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark">
 
      <a class="navbar-brand navbar__logo">[Logo]</a> 


      <!-- NAVBAR-CONTENT -->

      <div class="collapse navbar-collapse" id="navbar-1">

        <ul class="navbar-nav mr-auto text-right">

          <li class="nav-item">

            <a class="nav-link" [routerLink]="['/home']">Inicio</a>

            <div class="navbar__tnav"></div>

          </li>

          <li class="nav-item">

            <a class="nav-link" [routerLink]="['/service']">Servicios</a>

            <div class="navbar__tnav"></div>

          </li>

          <li class="nav-item">

            <a class="nav-link" [routerLink]="['/contact']">Directorio</a>

            <div class="navbar__tnav"></div>

          </li>

          <li class="nav-item">

            <a class="nav-link" [routerLink]="['/calendar']">Calendario</a>

            <div class="navbar__tnav"></div>

          </li>

          <li class="nav-item">

            <a class="nav-link" [routerLink]="['/chat']">Mensajeria</a>

            <div class="navbar__tnav"></div>

          </li>

          <li class="nav-item">

            <a class="nav-link" [routerLink]="['/news']"> News </a>

            <div class="navbar__tnav"></div>

          </li>

        </ul>

        <ul class="navbar-nav ml-auto text-right"> 
          
          <a class="navbar__profile">

            <div class="navbar__profile-radius">l</div>
            
            <div class="navbar__profile-title">{{ nameUser }}</div> 

            <img src="../../../assets/img/users.png" class="navbar__profile-img">

            <div class="navbar__dropdown dropdown-menu">
              
              <span class="dropdown-item-text">Opciones</span>
              
              <hr>

              <a class="dropdown-item">Perfil</a>
              
              <a class="dropdown-item">Manuales de Uso</a>
            
              <hr>
              
              <a class="dropdown-item">Cerrar Sesion</a>
            
            </div>
          
          </a>
          
          
          
        </ul>

      </div>

      <!-- FIN NAVBAR-CONTENT -->

      
      

      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
        data-target="#navbar-1" aria-controls="navbar-1"
        aria-expanded="false" aria-label="Toggle navigation">
        
        <span class="navbar-toggler-icon"></span>

      </button>
    

    </nav>

  </div>

  <div class="row-triangle">

      <div class="bottom-triangle"></div>

  </div>
 
</header>
<!-- FIN HEADER -->