
<app-navbar></app-navbar>

<div class="container-fluid">  
    

<div class="row">
  <div class="col-3">
    <app-slide-service></app-slide-service>
  </div>
  <div class="col-5">
    <app-card-news></app-card-news>
    <app-card-news></app-card-news>
    <app-card-news></app-card-news>
    <app-card-news></app-card-news>
    <app-card-news></app-card-news>
    <app-card-news></app-card-news>
  </div>
  <div class="col-4">
    <div class="calendar">
       <a href="home"><img src="./../../../assets/img/calendar (2).png" alt=""></a>
    </div>
  </div>
</div>

</div>

