<section class="section-services">
  <h4>Servicios</h4>
  <hr>
  <div class="services">
    <a href="#" class="image">
      <img src="./../../../assets/img/3.png" class="img-fluid" alt="">
    </a>
    <a href="#" class="image">
      <img src="./../../../assets/img/4.png" class="img-fluid" alt="">
    </a>
    <a href="#" class="image">
      <img src="./../../../assets/img/5.png" class="img-fluid" alt="">
    </a>
    <a href="#" class="image">
      <img src="./../../../assets/img/cards2.png" class="img-fluid" alt="">
    </a>
    <a href="#" class="image">
      <img src="./../../../assets/img/cards1.png" class="img-fluid" alt="">
    </a>
    <a href="#" class="image">
      <img src="./../../../assets/img/service1.jpg" class="img-fluid" alt="">
    </a>
  </div>
  <a href="service" class="btn btn-lg btn-block"
    role="button" aria-pressed="true">
    Más servicios...
  </a>
</section>