<app-navbar></app-navbar>

<main>

  <div class="service-area service-padding">

    <div class="container">
      
      <div class="row text-center">
        
        <div class="col-md-3 col-sm-6 col-xs-12">

          <div class="single-service">

            <div class="icon">

              <img src="./../../../assets/font/icons/favorite.svg">
            
            </div>
            
            <h3>Constancia De Trabajo</h3>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          
          </div>
        
        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-12">

          <div class="single-service">

            <div class="icon">

              <img src="./../../../assets/font/icons/favorite.svg">

            </div>

            <h3>Recibo de Pago</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          
          </div>
        
        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-12">

          <div class="single-service">

            <div class="icon">

              <img src="./../../../assets/font/icons/favorite.svg">

            </div>

            <h3>Vacaciones</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          
          </div>

        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-12">

          <div class="single-service">

            <div class="icon">

              <img src="./../../../assets/font/icons/favorite.svg">

            </div>

            <h3>Permisos</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>

        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">

          <div class="single-service">

            <div class="icon">

              <img src="./../../../assets/font/icons/favorite.svg">

            </div>

            <h3>Nomina</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. </p>

          </div>

        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">

          <div class="single-service">

            <div class="icon">

              <img src="./../../../assets/font/icons/favorite.svg">

            </div>

            <h3>Cancilleria</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. </p>

          </div>

        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">

          <div class="single-service">

            <div class="icon">

              <img src="./../../../assets/font/icons/favorite.svg">

            </div>

            <h3>Consulado</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. </p>

          </div>

        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">

          <div class="single-service">

            <div class="icon">

              <img src="./../../../assets/font/icons/favorite.svg">

            </div>

            <h3>Embajada</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. </p>

          </div>

        </div>

      </div>

    </div>

  </div>
  
</main>