<!--   CARDS   -->
<div class="chip">

    <!-- cambiar card -->
    <div class="wrapper" >
      
      <div class="date">
        
        <span class="day">{{ day }}</span>
        <span class="month">{{ month }}</span>
        <span class="year">{{ year }}</span>
      
      </div>
      
      <div class="tag">
        
        <span>{{ tag }}</span>
      
      </div>
    
    </div>
    
    <div class="data">

      <div class="content">
        
        <span class="author">Autor: {{ author }}</span>
        
        <h1 class="title"><a>{{ title }}</a></h1>
        
        <p class="text">{{descrip}}</p>
        
        <a href="" class="link">Leer Más</a>
      
      </div>
    
    </div>
            
  </div>
  <!--  CARDS   -->	