<div [@flyIn]="'rcvd'" 
  (@flyIn.done)="flyInAnimation($event)" 
  class="message__content message--rcvd" 
  [ngClass]="{'message--last': isLast}">
  
  <div class="message__gutter">

    <app-avatar name="Member Messages" 
      size="large">
    
    </app-avatar>

  </div>

  <div @expandMsg 
      [@expandMsg]="expand" 
      (@expandMsg.done)="expandAnimation($event)" 
      class="message__body">

    <div class="msg-content" 
      [class.message--show]="fadeIn === true">

      <div class="message__text">{{message.msg}}</div>

      <div class="message__time">3:40pm</div>

    </div>

  </div>

</div>