<div class="login__background">

<div class="container">
  <div class="row login__pt">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-5 login-left">
          <h2>{{ ente }}</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nostrum iste quidem.</p>
          <img src="../../../assets/../../../assets/font/icons/arrow_up.svg">
        </div>

        <div class="col-md-7 login-right">
        
            <h2>Inicia sesión</h2>
            <div class="login-form">
              <div class="form-group">
                <img src="../../../assets/font/icons/person.svg" class="float-right" style="width: 30px">
                <input type="text" class="form-control" placeholder="Nombre" >
              </div>
              <div class="form-group">
                <img src="../../../assets/font/icons/lock.svg" class="float-right" style="width: 30px">
                <input type="password" class="form-control" placeholder="Contraseña" >
              </div>
              <a href="index.html" role="button" aria-pressed="true" class="btn btn-primary">Iniciar</a>
            </div>
      
        </div>
        
      </div>
    </div>
  </div>
</div>

</div>