main {
	padding-top: 30px;
}

.news__slide{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.news__slide-card{
    position: relative;
    background-color: black;
    width: 100px;
    padding-top: 10px;
}